@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .all-\[unset\] {
        all: unset;
    }
}

:root {
    --default : rgba(22, 22, 22, 1);
    --gray-1: rgba(249, 249, 249, 1);
    --gray-2: rgba(238, 238, 238, 1);
    --gray-3: rgba(166, 166, 166, 1);
    --gray-3-op: rgba(166, 166, 166, 0.5);
    --gray-4: rgba(106, 106, 106, 1);
    --main: rgba(63, 154, 255, 1);
    --sub-1: rgba(209, 231, 255, 1);
    --sub-2: rgba(234, 240, 255, 1);
    --sub-3: rgba(246, 250, 255, 1);
    --fail: rgba(241, 66, 66, 1);
    --fail-2: rgba(248, 229, 229, 1);
}
/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --foreground-rgb: 255, 255, 255;*/
/*    --background-start-rgb: 0, 0, 0;*/
/*    --background-end-rgb: 0, 0, 0;*/
/*  }*/
/*}*/

.appearance-none::-webkit-outer-spin-button,
.appearance-none::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.custom-scroll::-webkit-scrollbar{
    display: block;
    background:var(--gray-3);
    width: 14px;
    border-radius: 0px 8px 8px 0px;
}
.custom-scroll::-webkit-scrollbar-thumb{
    background: var(--main);
    border-radius: 8px;
}


body {
  /*color: rgb(var(--foreground-rgb));*/
  /*background: linear-gradient(*/
  /*    to bottom,*/
  /*    transparent,*/
  /*    rgb(var(--background-end-rgb))*/
  /*  )*/
  /*  rgb(var(--background-start-rgb));*/
    font-family: 'Roboto-Regular', Helvetica
}
